body {
  overscroll-behavior: none;
  height: 100vh;
  margin: 0px;
  background-color: black;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.4;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'axel-grotesk';
  src: url('./fonts/BNAxelGrotesk-Bold.otf') format('opentype');
 }

 h1 {
  font-family: 'axel-grotesk';
  margin: 0px;
 }