/* body {
  margin: 0px;
  background-color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
  } */

body {
  overscroll-behavior: none;
  height: 100vh;
  margin: 0px;
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'axel-grotesk';
  src: url('./fonts/BNAxelGrotesk-Bold.otf') format('opentype');
 }

 h1 {
  margin: 0px;
 }