body {
  overscroll-behavior: none;
  height: 100vh;
  margin: 0px;
  background-color: black;
  line-height: 1.4;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'axel-grotesk';
  src: url('./fonts/BNAxelGrotesk-Bold.otf') format('opentype');
 }

 h1 {
  font-family: 'axel-grotesk';
  margin: 0px;
 }

 @media (max-width: 768px) {
  .container {
    overflow-x: hidden;
  }
  .container {
    position: relative
  }
}

@media (max-width: 1024px) {
  .container {
    overflow-x: hidden;
  }
}