.main {
  margin-bottom: 100vh;
  height: 100vh;
  position: relative;
}

.main img {
  object-fit: cover;
}

.sliderContainer {
  position: absolute;
  top: calc(100vh - 300px);
}

.slider {
  position: relative;
  white-space: nowrap;
  display: flex;
}

.slider p {
  font-family: 'axel-grotesk';
  margin: 0px;
  color: white;
  font-size: 240px;
  font-size: 500;
}

.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
}
