.experience {
  /* position: relative;
  color: #ffffff;
  font-size: 24px;
  width: 600%;
  min-height: 100vh; */
  overscroll-behavior: none;
  width: 600%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.experiencePanel1, .experiencePanel2 {
  position: relative;
  color: #ffffff;
  font-size: 24px;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #aa64a7, #663e64);
}

.introPanel {
  position: relative;
  color: #ffffff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #a0b28b, #565e49);
}

.introPanel p {
  margin: 0;
  line-height: 1.6;
  color: #ffffff;
}
