.experience {
  position: absolute;
  color: #ffffff;
  font-size: 24px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #a0b28b, #565e49);
}

.introPanel {
  max-width: 800px;
  text-align: center;
  background-color: transparent;
}

.introPanel p {
  margin: 0;
  line-height: 1.6;
  color: #ffffff;
}
