.work{
  position: relative;
  /* width: 100%; */
  /* display: flex; */
  justify-content: center;
}

.backgroundImage {
  width: 100%;
  height: 128vh;
  position: absolute;
  filter: brightness(60%);
}

.backgroundImage img {
  object-fit: cover;
}

.workIntroContainer {
  margin-top: 1vh;
  height: 128vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.workIntroImage{
  filter: brightness(70%);
  width: 350px;
  height: 550px;
  position: absolute;
}

.workIntroImage img {
  object-fit: cover;
  object-position: top;
}

.workIntroContainer h1 {
  color: white;
  font-size: 7vw;
  z-index: 1;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
}

